/*
  STRUCTURE ET STYLES COMMUNS
*/
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #7f7f7f;
  margin: auto;
  text-align:center;
}
a, a:visited, a:active, a:link {
  color: inherit;
  text-decoration: none;
}
section {
  display: flex; 
  width: 300px;
  height: 600px;
  margin-top: 50px;
  position: relative;
  margin-left: 500px;
  background-color: #adfe12: 
}
/*
  ENTETE ET MENU DE NAVIGATION
*/
h1.logo {
  display: inline-block;
  margin: 5px auto;
  font-family: 'Roboto Slab', serif;
  font-size: 1.7em;
  text-align: center;
}

h1.logo:hover {
  color: #fce57e;
}
nav a {
  display: inline-block;
  padding: 25px;
}
.navigationSite{
  background-color: lightblue; 
}
/*
  CONTENU PRINCIPAL
*/
.sectionUn{
  width: 50%;
  min-width: 700px;

}
.sectionDeux{
  width: 50%;
  min-width: 700px;

}
/*
  MENU/LISTE DES VINS
*/

/*
  PIED DE PAGE
*/

