/*
  STRUCTURE ET STYLES COMMUNS
*/
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #7f7f7f;
  margin: auto 15%;
}
a, a:visited, a:active, a:link {
  color: inherit;
  text-decoration: none;
}
section {
  display: flex; /* or inline-flex */
}
/*
  ENTETE ET MENU DE NAVIGATION
*/
h1.logo {
  display: inline-block;
  margin: 5px auto;
  font-family: 'Roboto Slab', serif;
  font-size: 1.7em;
  text-align: center;
}

h1.logo:hover {
  color: #fce57e;
}
nav a {
  display: inline-block;
  padding: 25px;
}
.navigationSite{
  background-color: beige; 
}
/*
  CONTENU PRINCIPAL
*/
.sectionUn{
  background-color: #fff;
  width: 50%;
  min-width: 700px;
  margin: auto 25%;
}
.sectionDeux{
  background-color: #fff;
  width: 50%;
  min-width: 700px;
  margin: auto 25%;
}
/*
  MENU/LISTE DES VINS
*/

/*
  PIED DE PAGE
*/

/*
  STYLES ADAPTIFS (RESPONSIVE)
  Pour les besoins de ce travail pratique, nous ne ciblons que les écrans de 
  résolution supérieure à 750px.
*/